/* Sheet of Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    position: relative;

    grid-template-rows: auto 1fr 20px;
}

.header {
    margin: 1rem;
    border-bottom: 5px solid black;


    display: flex;
    justify-content: center;

}

.form-container {
    /*visibility: hidden; */
    border: 2px solid black;
    width: 40vw;
    padding: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:min-content;
    gap: 1rem;
    justify-content: center;

}

.form-container button {
    margin: 1rem;
    width: 50px;

    justify-self: center;
    grid-column: 1 / -1;

}

.container {
    margin: 1rem;

    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 1rem; 
}

.card {
    border: 1px solid black;

}

.footer {
    width: 100%;
    background-color: rgb(184, 184, 184);

    position: absolute;
    bottom: 0;

    text-align: center;
    
}