/* Sheet of Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --dominant-color: #FEFEFE;
    --secondary-color: #EDECEC;
    --accent-color: #B7C396;
    --card-color: #E0E7D7;
}

body {
    height: 100vh;
    background-color: var(--dominant-color);

    display: grid;
    position: relative;

    grid-template-rows: auto auto auto 1fr 20px;
}

button {
    border-radius: 10%;
    background-color: var(--secondary-color)
}

.header {
    margin: 1rem;
    padding: 1rem;
    border-bottom: 5px solid var(--accent-color);


    display: flex;
    justify-content: center;

}

body > .button-container {
    justify-self: right;
    margin: 0 1rem;
}

body > .button-container button {
    height: 5vh;
    width: 10vw;
    
    font-size: 1.1rem;
}

.form-container {
    display: none;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid black;
    width: minmax(40vw 500px);
    height: fit-content;
    padding: 1rem;

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.form-container #form-close {
    width: 5vw;
    background-color: inherit;

    position: fixed;
    top: 0;
    right: 0;
}

.form-container h2 {
    margin-bottom: 1rem;;
}

.form-container textarea {
    resize: none;
    width: 200px;
    min-height: 2lh;
    max-height: 5lh;
    field-sizing: content;
}


.form-contents {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:min-content;
    gap: 1rem;
    justify-content: center;

}

.form-container button {
    margin: 1rem;
    width: 50px;

    justify-self: center;
    grid-column: 1 / -1;

}

.container {
    margin: 1rem;

    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 1rem; 
}

.card {
    background-color: var(--card-color);
    padding: 1rem 1rem 2rem 1rem;
    border: 2px solid var(--accent-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position:relative;
}

.card img {
    height: 15rem;
    width: 10rem;
}

.card h2 {
    margin: 1rem 0;
}

.card p {
    margin: 1rem 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card .button-container {
    width: 100%;

    display: flex;
    justify-content:space-around;

    position: absolute;
    bottom: 8px;
}

.card button {
    padding: .2rem;
    font-weight: 550;
}

.footer {
    width: 100%;
    background-color: rgb(184, 184, 184);

    position: fixed;
    bottom: 0;

    text-align: center;
    
}